%h3
  = "#{title} (#{group_authors.count})"
%hr
- group_authors.each do |group_author|
  %ul
  - group_author.each do |publication|
    %li
      %strong
        - if publication[:node][:ee]
          = link_to publication[:title], publication[:node][:ee], target: '_blank'
        - else
          = publication[:title]
      = format_authors publication[:authors]
  %hr