= form_tag experiments_dblp_index_path, method: :get, class: 'form-search' do
  .input-append
    = text_field_tag 'name', params[:name], class: 'search-query input-medium', placeholder: 'Author name'
    = submit_tag 'Find', class: 'btn btn-primary'

%ul.nav.nav-tabs
  %li{class: active_class(params[:group],'PeWe')}
    = link_to "PeWe (#{@authors_counts['PeWe']})", group_experiments_dblp_index_path('PeWe')
  %li{class: active_class(params[:group],'FIIT')}
    = link_to "FIIT (#{@authors_counts['FIIT']})", group_experiments_dblp_index_path('FIIT')
  %li{class: active_class(params[:group],'SAV')}
    = link_to "SAV (#{@authors_counts['SAV']})", group_experiments_dblp_index_path('SAV')

.authors-sidebar
  - @authors.each do |author|
    %li{class: author[:active] ? 'active' : ''}
      = link_to author[:name], author_experiments_dblp_index_path(params[:group],DBLP::Author.to_friendly_url(author[:name]))
      - if author[:from] && author[:to]
        %small
          =  "(#{author[:from]} - #{author[:to]})"

  .label= "Total: #{@authors.count}"