.container-fluid
  .row-fluid
    .span3
      = render 'sidebar'

    .span9
      - if params[:name]
        %h2
          Find authors

        %p
          = "Author with name '#{params[:name]}' not exists."

      - else
        %h2
          = 'Processed authors'
        %p
          - @processed_authors.each do |processed_author|
            = link_to processed_author.name, author_experiments_dblp_index_path(params[:group],DBLP::Author.to_friendly_url(reverse_name processed_author.name))

        %hr

        %h2
          = 'Unprocessed authors'
        %p
          - @unprocessed_authors.each do |unprocessed_author|
            = link_to unprocessed_author.name, author_experiments_dblp_index_path(params[:group],DBLP::Author.to_friendly_url(reverse_name unprocessed_author.name))