.container-fluid
  .row-fluid
    .span3
      = render 'sidebar'

    .span9
      %h2
        = @author_name

      %p
        - if @processed_author[:original_count]
          .label.label-success
            = 'Original count: '
            =  @processed_author[:original_count]
        - else
          .label.label-important
            = 'Not set'

      = form_tag update_author_experiments_dblp_index_path, method: :post, class: 'form-search' do
        .input-append
          = text_field_tag 'original_count', (@processed_author[:original_count] || @processed_author[:sgn].count) , class: 'search-query input-medium', placeholder: 'Count of distinct'
          = submit_tag 'Update', class: 'btn btn-primary'

        = link_to next_author_experiments_dblp_index_path, class: 'btn btn-warning' do
          = 'Next author'

      .row-fluid
        .span6
          = render 'publications', group_authors: @processed_author[:sgn], title: 'SGN'

        .span6
          = render 'publications', group_authors: @processed_author[:naive], title: 'Community of authors'
